<div id="searchBox">
	<h2>ライブを検索する</h2>
  <%= form_tag('/articles/search/', method: :get) do %>

    <dt>日程：</dt>
		<dd><input type="date" name="date"></dd>

		<dt>エリア：</dt>
    <dd><select name="area">
          <option value="">選択して下さい</option>
        <% @prefs.each do |pref| %>
					<option value="<%= pref.ken %>"><%= pref.ken%></option>
        <% end %>
    </select></dd>

		<dt>ジャンル：</dt>
    <dd><input type="text" name="genre"></dd>

    <dt>キーワード：</dt>
		<dd><input type="text" name="detail"></dd>

    <dt><input type="submit" value="検索"></dt>
  <% end %>
</div>
<div id="topicsBox">
	<h2>検索結果</h2>
	<dl>
	<% @articles.each do |article| %>
		<dt><%= article.updated_at.strftime("%Y/%m/%d %H:%M:%S") %></dt>
		<dd><a href="/articles/<%= article.id %>"><%= article.title %></a></dd>
	<% end %>
	</dl>

  <div class="clearfix">
 		<%= paginate(@articles) %>
  </div>
</div>
