<div id="showBox">
	<h2>記事の詳細</h2>
	<dl>
	  <dt>記事タイトル ： </dt>
    <dd><%=@article.title %></dd>
	  <dt>投稿者 ： </dt>
    <dd><%=@article.user.name %></dd>
	  <dt>日付 ： </dt>
    <dd><%= @article.date %></dd>
	  <dt>エリア ： </dt>
    <dd><%= @article.area %></dd>
	  <dt>場所 ： </dt>
    <dd><%= @article.place %></dd>
	  <dt>ジャンル ： </dt>
    <dd><%= @article.genre %></dd>
	  <dt>ノルマ ： </dt>
    <dd><%= @article.norma %></dd>
	  <dt>詳細 ： <dt>
    <dd><%= @article.detail %></dd>
	</dl>
</div>

<div id="sendMessageBox">
	<% if current_user %>
	  <h2>このイベントについてメッセージを送る</h2>
    <dl>
	  <%= form_tag("/articles/#{@article.id}/messages", method: :post) do %>
	     <dt>タイトル<input type="text" name="title" size="50" value="『<%=@article.title %>』についての問い合わせ"></dt>
	     <dt>本文<textarea cols="50" name="text" placeholder="メッセージの記入" cols="70" rows="20"></textarea></dt>
	     <dt><input type="submit" value="メッセージを送る"></dt>
	  <% end %>
    </dl>
	<% end %>
</div>